@model Library3.Entity.Authentication.AppRole

<!-- Start Blog Section -->
<div class="card">
    <div class="card-header">
        <h3>Edit Role</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Name</label>
                <input asp-for="@Model.Name" class="form-control">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.NormalizedName" class="form-label">Normalized Name</label>
                <input asp-for="@Model.NormalizedName" class="form-control">
                <span asp-validation-for="@Model.NormalizedName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ConcurrencyStamp" class="form-label">Concurrency Stamp</label>
                <input asp-for="@Model.ConcurrencyStamp" class="form-control">
                <span asp-validation-for="@Model.ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="reset" class="btn btn-success">Reset</button>
            </div>
            <a class="btn btn-primary" asp-action="Index">Back</a>
        </form>
    </div>
</div>
<!-- End Blog Section -->