@model Library3.Entity.Concrete.Sale

<!-- Start Blog Section -->
<div class="card">
    <div class="card-header">
        <h3>Edit Category</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="@Model.DiscountRate" class="form-label">Enter Sale Discount Rate</label>
                <input asp-for="@Model.DiscountRate" class="form-control">
                <span asp-validation-for="@Model.DiscountRate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.StartDate" class="form-label">Enter Sale Start Date</label>
                <input asp-for="@Model.StartDate" class="form-control">
                <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.EndDate" class="form-label">Enter Sale End Date</label>
                <input asp-for="@Model.EndDate" class="form-control">
                <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="hidden" asp-for="@Model.CreateDate" value="@DateTime.Now">
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
            <a class="btn btn-primary" asp-action="SaleIndex">Back</a>
        </form>
    </div>
</div>
<!-- Ende Blog Section -->
